##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 9

  paths:
    - benchmarks
    - src
    - tests

  excludePaths:
    - vendor/*
    - node_modules/*

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    -
      # Since tests and data providers do not have to have parameter docblocks,
      # it is not possible to specify the type of the parameter, so we ignore
      # this error.
      message: '#.*no value type specified in iterable type array.#'
      path: tests/*
      reportUnmatched: false
    -
      # The Drupal context carries the site's $settings/$config, which are
      # heterogeneous bags by design. Typing their values as mixed would force
      # noisy guards around every nested write, so they stay deliberately
      # untyped here.
      message: '#.*no value type specified in iterable type array.#'
      path: src/Contexts/Drupal.php
      reportUnmatched: false
